@page
@model Drk4uAppAdministration.Pages.NewsModel
@{
    ViewData["Title"] = "News";
}

<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h1 class="display-4">@ViewData["Title"]</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Created At</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.News.Count == 0) {
                            <tr>
                                <td colspan="6"><i>No news available.</i></td>
                            </tr>
                        } else {
                            @foreach (var newsItem in Model.News) {
                                <tr>
                                    <td>@newsItem.Id</td>
                                    @if (null == newsItem.Image) {
                                        <td></td>
                                    } else {
                                        <td><img src="@newsItem.Image.ImageUrl" width="64" height="64" alt="@newsItem.Image.Name" /></td>
                                    }
                                    <td>@newsItem.Title</td>
                                    <td>@newsItem.Category</td>
                                    <td>@newsItem.CreatedAt.ToString()</td>
                                    <td><a class="btn btn-primary btn-sm" asp-page="/NewsDetail" asp-route-id="@newsItem.Id">Detail</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" asp-page="/CreateNews">Create News</a>
        </div>
    </div>
</div>