@page
@model Drk4uAppAdministration.Pages.UsersModel

@{
    ViewData["Title"] = "Users";
}

<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h1 class="display-4">@ViewData["Title"]</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Skillsets</th>
                        <th>Mobilphone</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Users.Count == 0) {
                        <tr>
                            <td colspan="5"><i>No users available.</i></td>
                        </tr>
                    } else {
                        @foreach (var user in Model.Users) {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.Name</td>
                                <td>
                                    <ul>
                                        @foreach (var skillset in user.Skillsets) {
                                            <li>@skillset.Skillset.DisplayName()</li>
                                        }
                                    </ul>
                                </td>
                                <td>@user.MobilPhone</td>
                                <td>@user.CreatedAt.ToString()</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>